.introduction {
    height: inherit;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 43, 177);

}

.Football, .Flags, .Anime {
    background-color: rgba(87, 0, 248, 0.3);
    background-repeat: no-repeat;
    background-position: top;
    width: 1500px;
    height: 300px;
    border-radius: 25px;
    background-size: cover;
    color: rgb(75, 12, 2);
    font-size: xx-large;
    border: 2px solid white;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
     1px  1px 0 rgb(255, 255, 255);
}

.Flags {
    background-image: url(Flags.jpg);
}

.Football {
    background-image: url(football.jpg);
}

.Anime {
    background-image: url(Anime.jpg);
}

.Football:hover, .Flags:hover, .Anime:hover {
    cursor: grab;
}

html {
    background-color: rgb(45, 40, 62);
}

.QuizCombinor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

